@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Emily Skerl's dog database! It's a work-in-progress. Keep up with the progress through my GitHub</p>
    <a href="https://github.com/eskerl/Dog-Web-App" class="button">GitHub</a>

</div>
