@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Emily Skerl's dog database! Put in your own dog's information or look through the dogs we already have!</p>
</div>
